<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="iBatisMapConfigFile" value="..\..\..\TestData\Configs\SqlMap.config"/>
		<add key="iBatisMapFilesBasePath" value="..\..\..\TestData\"/>
		<add key="FixTagNewLines" value="false"/><!--faster but worse look-->
	</appSettings>
</configuration>