<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="iBatisMapConfigFile" value="c:\Projects\iBatisGlue\Data\Configs\PortalSql.SqlMap.config"/>
		<add key="iBatisMapFilesBasePath" value="c:\Projects\iBatisGlue\Data\Maps\"/>
		<add key="FixTagNewLines" value="false"/><!--faster but worse look-->
	</appSettings>
</configuration>