<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
        <add key="iBatisMapConfigFile" value="..\..\..\TestData\Configs\SqlMap.config"/>
        <add key="iBatisMapFilesBasePath" value="..\..\..\TestData\"/>
		<add key="FixTagNewLines" value="true"/><!--slower but better look-->
		<add key="CopyToClipboard" value="true"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
