<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="iBatisMapConfigFile" value="c:\Projects\Ameritox\branch2319\src\Persistence\Configs\PortalSql.SqlMap.config"/>
		<add key="iBatisMapFilesBasePath" value="c:\Projects\Ameritox\branch2319\src\Persistence\Maps\"/>
		<add key="FixTagNewLines" value="true"/><!--slower but better look-->
		<add key="CopyToClipboard" value="true"/>
	</appSettings>
</configuration>